body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
/* background color of header, top content and footer */
.header,
.footer,
.top-container {
  background-color: #1f2937;
}

/* logo css */
.logo {
  font-size: 24px;
  font-weight: bold;
  color: #f9faf8;
}

/* left side top content styling */
.awesome {
  font-size: 48px;
  font-weight: bolder;
}

.subtext {
  margin-bottom: 15px;
}
/* remove ul dots */
ul {
  list-style: none;
}

/* removed link underline and styling */
a {
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
}

/* header needs flex with space-between */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 700px;
  padding: 10px 0px;
}

/* right side links display flex */
.header ul {
  display: flex;
  gap: 30px;
}

/* all body content flex, column */
.content {
  display: flex;
  flex-direction: column;
}

.top-container {
  display: flex;
  justify-content: center;
  padding: 100px;
}

.top-container-content {
  display: flex;
  gap: 100px;
  color: #f9faf8;
}


button {
  background-color: #3882f6;
  color: #f9faf8;
  padding: 8px 30px;
  border-radius: 10px;
  border-style: none;
}

.left {
  width: 400px;
}

/* content img resizing */
.right img {
  height: 400px;
  width: 780px;
}

/* middle container */
.middle-container {
  text-align: center;
}

/* middle container title */
.title {
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
  padding: 50px;
}

/* middle container with the images and paragraphs */
.boxes-container {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-bottom: 150px;
}

.box {
  max-width: 250px;
}

/* all random content imgs resizing */
.box img {
  height: 250px;
  width: 250px;
 }

/* quote contianer */
.quote-container {
  background-color: #e5e7eb;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 200px 680px;
}

.quote {
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
}

.person {
  display: flex;
  justify-content: flex-end;
  font-weight: bold;
  font-size: 24px;
}

/* call to action container */
.bottom-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 150px ;
}

.sign-up-container {
  display: flex;
  background-color: #3882f6;
  align-items: center;
  gap: 200px;
  border-radius: 10px;
  padding: 50px 100px;
  color: #f9faf8;
}

.left-writing .call {
  font-weight: bold;
  font-size: 20px;
}

.left-writing .description {
  font-size: 14px;
}

.right-button button {
  border-style: solid;
  border-color: #f9faf8;
}


/* footer aligment middle of div */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}